<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvtXk5gjjiBOaMQkaRDUyCGwHTE_MAK5M</string>
	<key>GCM_SENDER_ID</key>
	<string>931578638944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fantasticAssistant</string>
	<key>PROJECT_ID</key>
	<string>fantastic-assistant-c7488</string>
	<key>STORAGE_BUCKET</key>
	<string>fantastic-assistant-c7488.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931578638944:ios:0f1de7440b72013d6c8905</string>
</dict>
</plist>